{% extends "layout.html" %}

{% block content %}


<div class="container">

<br>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Kegiatan</th>
      <th scope="col">Username</th>
      <th scope="col">Jumlah</th>
      <th scope="col">Harga</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col">Bukti Pembayaran</th>
       <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if session['username'] == "adminbebek" %}
  {% for t in transactions %}
  <tbody>
    <tr>
      <th scope="row">{{t[0]}}</th>           
      <td>{{t[4]}}</td>
      <td>{{t[13]}}</td>
      <td>{{t[3]}}</td>
      <td>{{t[5]}}</td>
      <td>{{t[6]}}</td>
      {% if t[8] == "Selesai" %}
      <td class="td-blue">{{t[8]}}</td>
      {% elif t[8] == "Belum dibayar" %}
      <td class="td-red">{{t[8]}}</td>
      {% else %}
      <td class="td-pink">{{t[8]}}</td>
      {% endif %}
     
      <td><img src="../{{ t[7] }}" style="width: 50%;"><br></td>
      <td>
      {% if t[8] == "Dalam proses" %}
      <a class="btn btn-secondary active btn-sm" href="{{url_for('ver', id=t[0])}}" role="button">Terima</a>
      <br><br>
      <a class="btn btn-secondary active btn-sm" href="{{url_for('not_ver', id=t[0])}}" role="button">Tolak</a>
      {% elif t[8] == "Belum dibayar" %}
      <a class="btn btn-secondary btn-sm disabled"  href="{{url_for('ver', id=t[0])}}" role="button">Menunggu pembayaran</a>
      {% elif t[8] == "Pembayaran gagal. Coba lagi" %}
      <a class="btn btn-secondary active btn-sm" href="{{url_for('ver', id=t[0])}}" role="button">Terima</a>
      <a class="btn btn-secondary active btn-sm" href="{{url_for('not_ver', id=t[0])}}" role="button">Tolak</a>
      {% else %}
      <button type="button" class="btn btn-secondary btn-sm" disabled>Sudah diverifikasi</button>
      {% endif %}
      </td>
      <td> <a href="{{url_for('edit_transaction', id=t[0])}}"><i class="fa-solid fa-pencil" style="color: #fff;"></i></a>
       <a href="{{url_for('delete_transaction', id=t[0])}}"><i class="fa-solid fa-trash" style="color: #fff;"></i></a></td>

    </tr>

  </tbody>
    {% endfor %}
      {% endif %}


</table>




  
</div>

{% endblock %}