{% extends "layout.html" %}

{% block content %}


<div class="container">

<br>

<div class="row justify-content-end">
<div class="row">
  <div class="col-10"></div>
  <div class= "col">
<a class="btn btn-light" href="{{url_for('create_articles')}}" role="button"><i class="fa-regular fa-plus"></i> Buat artikel</a>
</div>
</div>
</div>
<br>

<div class="row">
{% for post in posts %}
    {% if session['username_c'] == post[4] %}
<div class="col-lg-22">
  <div class="card mb-3">
    <img class="card-img-top" src="../{{ post[6] }}" alt="Card image cap">
    <div class="card-body article-card">
      <h5 class="card-title">{{post[1]}}</h5>
      <div class="position-absolute bottom-3">
      <a href="{{url_for('articles', id = post[0])}}" class="card-link card-link-color">Baca artikel</a>  
      <a href="{{url_for('edit_articles', id=post[0])}}"><i class="fa-solid fa-pencil ms-55" style="color: #DDA7CA;"></i></a>
        <a href="{{url_for('delete_articles', id=post[0])}}"><i class="fa-solid fa-trash" style="color: #DDA7CA;"></i></a>
        </div>
    </div>
    </div>
    </div>
        {% endif %}
  {% endfor %}  
  </div>

    
</div>

{% endblock %}